
html,
body {
  padding: 0;
  margin: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}



.navbar-comp {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
   
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  
  * {
    box-sizing: border-box;
  }

  .navbar-link {
    margin-left: 200px;
    font-size: larger;
    text-decoration: none;
    
  }

 
  
  .navbar-comp a:hover{
    color: orange;
  }
  

  
.div{
    display: flex;
    justify-content: center;
    
}
.exempleanunturi{
    margin-top: 50px;
    justify-content: space-evenly;
    display: flex ;
    
}
/* nu merge sa mut bara de cautari mai spre dreapta, si nici sa pun background ul (fara bara de sus )culoarea asta :ffd633; */
.searchbar {
    display: block;
  min-width: 150px;
  margin: auto;
  border: 1px solid gray;
  border-radius: 1.25rem;
  padding: 0.5rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
