body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px; 
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px; 
  padding: 40px; 
  margin: 0 auto;
}

.anuntForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 8px;
  display: block;
  font-weight: bold;
}

input,
textarea,
button {
  margin-bottom: 16px;
  padding: 10px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

button, .back-button {
  padding: 15px 30px; 
  border-radius: 4px;
  background-color: #ffd633;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover, .back-button:hover {
  background-color: #ffd633;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}


@media only screen and (max-width: 768px) {
  .container {
      max-width: 90%; 
  }

  button, .back-button {
      padding: 12px 24px; 
  }
}
